img {
    width: 65%;
}

.y-label {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rot-cw-90 {
    right: 7.5%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transform: rotate(90deg);
}

.rot-acw-90 {
    margin: 0;
    left: 7.5%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transform: rotate(-90deg);
}