<!-- Header -->
<header>
    <mat-toolbar color="primary">
        <mat-icon class="material-icons-outlined">
            wb_incandescent
        </mat-icon>
        <span>&nbsp;Idea-t</span>
    </mat-toolbar>
</header>

<!-- Content -->
<mat-drawer-container id="content">
    <mat-drawer id="ideas-panel" #ideasPanel mode="side" opened>
        <ideat-ideas-panel #ideasPanel></ideat-ideas-panel>
    </mat-drawer>

    <ideat-ideas-panel-toggle [matDrawerContainer]="ideasPanel"></ideat-ideas-panel-toggle>

    <router-outlet></router-outlet>
    <!-- @TODO: make component -->
    <mat-horizontal-stepper id="nav-stepper" #stepper>
        <mat-step>
            <ng-template matStepLabel>Canvases</ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Hypotheses</ng-template>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Testing</ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</mat-drawer-container>

<!-- Footer -->
<footer>
    <ideat-footer></ideat-footer>
</footer>